# ==================== #
# By: Lmao stupid Cion #
# ==================== #

# <= Main =>
.env
*.iml
*.iws
.zed
.idea

# <= Sometimes it appears =>
./src/
test/

# <= Gradle =>
.gradle
build
gradlew
gradlew.bat

# <= Maven =>
target/

#   >> Contain
!.gitattributes
gradle/wrapper/gradle-wrapper.jar

# <= Server =>
server.properties
plugins/
logs/
crash_logs/
